* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

.flow-hidden {
  overflow: hidden;
}

// 隐藏滚轮
// ::-webkit-scrollbar {
//   display: none;
// }

// 初始化a标签
a {
  text-decoration: none;
  color: #000;

  // 关闭点击高亮
  -webkit-tap-highlight-color: transparent;

  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
    color: #000;
  }
}
