@font-face {
  font-family: "BigCaslon";
  src: url("~@/assets/font/BigCaslonMedium.ttf");
}
@font-face {
  font-family: "DIN";
  src: url("~@/assets/font/DIN-Medium.otf");
}
@font-face {
  font-family: "Metropolis";
  src: url("~@/assets/font/Metropolis-Regular.otf");
}
